<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error 404</title>
</head>
<body>
<th:block th:insert="~{header::copy}"></th:block>
<div style="display: flex; justify-content: center; align-items: center; flex-direction: column">
    <!--<img src="/static/img/404.png" alt="404" height="250px">-->
    <img src="/static/img/404.gif" height="200px">
    <h3>It appears you've ended up somewhere you shouldn't be</h3>
    <h4>Follow <a href="/">me</a> to get back home</h4>
    <div
            th:if="${message} or ${trace}">
        <b>Cause: </b> <span th:if="${message}" th:text="${message}">exception ...</span>
        <br>
        <b>Trace: </b><span th:if="${trace}" th:text="${trace}">exception ...</span>
    </div>
</div>
<th:block th:insert="~{footer::copy}"></th:block>
</body>
</html>
