<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<header th:fragment="copy (title)">
    <link rel="stylesheet" href="/static/css/thirdparty/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/thirdparty/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/static/css/thirdparty/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <nav class="navbar sticky-top navbar-dark bg-dark">
        <th:block th:if="${title}">
            <a class="navbar-brand" href="/"><span th:text="${title}">B</span></a>
        </th:block>
        <th:block th:unless="${title}">
            <a class="navbar-brand" href="/">Hello</a>
        </th:block>
        <ul class="nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/upload">Upload</a>
            </li>
        </ul>
    </nav>
</header>

</body>
</html>