<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Netstat</title>
    </head>
    <body>
    <th:block th:insert="~{header::copy}"></th:block>
    <div class="cont" th:if="${list}">
        <div>
            <form method="get" action="/">
                <select id="file" name="file">
                    <th:block th:each="item : ${files}">
                        <th:block th:if="${file == item.id}">
                            <option selected th:value="${item.id}" th:text="|${item.name} - ${item.date}|"></option>
                        </th:block>
                        <th:block th:unless="${file == item.id}">
                            <option th:value="${item.id}" th:text="|${item.name} - ${item.date}|"></option>
                        </th:block>

                    </th:block>
                </select>
                <input name="page" style="display: none;" id="page">
                <input th:if="${back}" th:onmouseenter="${'document.getElementById(''page'').value =' + (page - 1)}" class="btn btn-primary" style="display: inline-block" type="submit" value="Previous page">
                <input th:if="${next}" th:onmouseenter="${'document.getElementById(''page'').value =' + (page + 1)}" class="btn btn-primary" style="display: inline-block" type="submit" value="Next Page">
            </form>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <!--
                <option th:each="i : ${#numbers.sequence( 1, 81/20)}">
   <p th:text="${ i }"></p> THIS loops 4 times, instead of 5
                </option> -->
                <th:block th:each="column,iter : ${columns}">
                    <th:block th:if="${column != 'Count'}">
                        <th><a title="Analyse this column" th:text="${column}" th:href="${'/analyse?file=' + file + '&column=' + (iter.index - 1)}"></a></th>
                    </th:block>
                    <th:block th:unless="${column != 'Count'}">
                        <th th:text="${column}"></th>
                    </th:block>
                </th:block>
            </tr>
            </thead>
            <div style="display: contents;">
                <tbody>
                <th:block th:each="map : ${list}">
                    <tr>
                        <th:block th:each="column : ${columns}">
                            <td th:text="${map.get(column)}"></td>
                        </th:block>
                    </tr>
                </th:block>
                </tbody>
            </div>
        </table>
        <form method="get" action="/">
            <select name="file" style="display: none">
                <th:block th:each="item : ${files}">
                    <th:block th:if="${file == item.id}">
                        <option selected th:value="${item.id}" th:text="|${item.name} - ${item.date}|"></option>
                    </th:block>
                    <th:block th:unless="${file == item.id}">
                        <option th:value="${item.id}" th:text="|${item.name} - ${item.date}|"></option>
                    </th:block>

                </th:block>
            </select>
            <input name="page" style="display: none;" id="page1">
            <input th:if="${back}" th:onmouseenter="${'document.getElementById(''page1'').value =' + (page - 1)}" class="btn btn-primary" style="display: inline-block" type="submit" value="Previous page">
            <input th:if="${next}" th:onmouseenter="${'document.getElementById(''page1'').value =' + (page + 1)}" class="btn btn-primary" style="display: inline-block" type="submit" value="Next Page">
        </form>
    </div>
    <div th:unless="${list}">
        <h3>No files have been uploaded yet, try uploading one <a href="/upload">Here</a></h3>
    </div>
    <th:block th:insert="~{footer::copy}"></th:block>
    <script>
        let file = document.getElementById("file");
        file.onchange = () => {
            let fileId = file.options[file.selectedIndex].value;
            window.location.href = "/?file=" + fileId;
        }
    </script>
    </body>
</html>