<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Cyber</title>
    </head>
    <body>
    <th:block th:insert="~{header::copy}"></th:block>
    <form action="/" method="POST" enctype="multipart/form-data">
        <input class="form-control-file" name="file" type="file" accept="text/csv" required>
        <input class="form-control" name="seperator" type="text" maxlength="1" placeholder="seperator" required>
        <input class="btn btn-primary" type="submit">
    </form>
    <h3 th:if="${error}" th:text="${error}"></h3>
    <div>
        <button th:if="${back}" class="btn btn-primary" style="display: inline-block" onclick="previousPage()">Previous</button>
        <button th:if="${next}" class="btn btn-primary" style="display: inline-block" onclick="nextPage()">Next</button>
    </div>
    <div class="cont" th:if="${list}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Count</th>
                <th>Row</th>
                <th>Hash</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="map : ${list}">
                <tr>
                    <th:block th:each="entry : ${map}">
                        <td th:text="${entry.value}"></td>
                    </th:block>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
    <th:block th:insert="~{footer::copy}"></th:block>
    <script>
        function getPage() {
            let qs = window.location.search.substr(1).split("&");
            if (qs.length > 0) {
                for (let q in qs) {
                    q = qs[q];
                    q = q.split("=");
                    if (q[0] === "page") {
                        return parseInt(q[1]);
                    }
                }
                return 1;
            }
            else
                return 1;

        }

        function nextPage() {
            let page = getPage();
            window.location = "/?page=" + (page + 1);
        }
        function previousPage() {
            let page = getPage();
            window.location = "/?page=" + (page - 1);
        }
    </script>
    </body>
</html>