<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Netstat - Upload</title>
</head>
<body>
<th:block th:insert="~{header::copy}"></th:block>
<form action="/upload" method="POST" enctype="multipart/form-data">
    <input class="form-control-file" name="file" type="file" accept="text/csv" required>
    <input class="form-control" name="seperator" type="text" maxlength="1" placeholder="seperator" required>
    <h4>Select headers to group by</h4>
    <div>
        <th:block th:each="header : ${headers}">
            <label th:text="${header}"></label>
            <input type="checkbox" th:name="${header}">
        </th:block>
    </div>
    <input class="btn btn-primary" type="submit" value="Upload">
</form>
<h3 th:if="${error}" th:text="${error}"></h3>
<script th:if="${pass}">
    window.location = "/";
</script>
</body>
</html>