<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${title + ' - Upload'}"></title>
</head>
<body>
<th:block th:insert="header :: copy(${title})"></th:block>
<form action="/upload" method="POST" enctype="multipart/form-data">
    <input id="file" class="form-control-file" name="file" type="file" accept="text/csv" required>
    <h4>Select headers to group by</h4>
    <div id="checkboxes">
    </div>
    <button type="button" class="btn btn-primary" id="select">Select all</button>
    <input class="btn btn-primary" type="submit" value="Upload">
</form>
<h3 th:if="${error}" th:text="${error}"></h3>
<th:block th:insert="~{footer::copy}"></th:block>
<script>
    let select = document.getElementById("select");
    select.onclick = () => {
        let checkboxes = document.querySelectorAll("[type='checkbox']");
        checkboxes.forEach(checkbox => {
            checkbox.setAttribute("checked", true);
        });
    };

    let fileInput = document.getElementById("file");
    fileInput.onchange = function() {
        if (fileInput.files.length > 0) {
            if (fileInput.files[0].type !== "text/csv") {
                fileInput.value = "";
                alert("Please upload a CSV");
                return;
            }
            let div = document.getElementById("checkboxes");
            $(div).empty();
            let fileReader = new FileReader();
            fileReader.onload = () => {
                let file = fileReader.result;
                for (x = 0; x < file.split("\n")[0].split(",").length; x++) {
                    let label = document.createElement("label");
                    label.innerText = x;
                    let input = document.createElement("input");
                    input.setAttribute("type", "checkbox");
                    input.setAttribute("name", x);
                    div.appendChild(label);
                    div.appendChild(input);
                }
            }
            fileReader.readAsText(fileInput.files[0]);

        }
    }
</script>
</body>
</html>